body {
    text-align: center;
}

h1 {
    color: aqua;
}

#menu {
    list-style: none;
}

.list {
    display:inline;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.list:hover{color:aqua;}

